* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #444;
  min-width: 1500px;
}

body > div:nth-child(odd) {
  background-color: #111;
}

body > div:nth-child(even) {
  background-color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*HEADER*/
.header-page {
  height: 735px;
  padding-top: 55px;
}

.header-top {
  position: relative;
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 220px;
}

.header-logo {
  float: left;
  font-weight: bolder;
  text-transform: uppercase;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.header-nav {
  float: right;
}

.header-nav li {
  margin-right: 25px;
  display: inline-block;
  list-style: none;
}

.header-nav li:first-child::before{
  content: '';
  position: absolute;
  background-color: #fcac45;
  top: 35px;
  width: 45px;
  height: 4px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-bottom {
  width: 750px;
  margin: 0 auto;
}

.header-bottom p:first-child {
  font-size: 44px;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 20px;
}
.header-bottom p:first-child span {
  color: #fcac45;
  font-weight: bolder;
}

.header-bottom p {
  font-size: 20px;
  text-align: center;
  color: #999;
}

.header-bottom span {
  font-weight: bold;
  color: #c3c3c3;
}

/*ABOUT US*/
.about-us {
  height: 510px;
  padding-top: 105px;
}

.img-macbook {
  display: inline-block;
  width: 506px;
  height: 408px;
}

.info-about-us {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  float: right;
  color: #6c6c6c;
  font-size: 18px;
}

.info-about-us h2{
  font-size: 34px;
  color: #111;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.info-about-us span {
  font-weight: normal;
}

.info-about-us h2::before {
  content: '';
  position: absolute;
  width: 400px;
  top: 45px;
  height: 4px;
  background-color: #fcac45;
}

.info-about-us p{
  width: 434px;
  word-break: break-all;
  margin-bottom: 50px;
}

.info-about-us li {
  margin-bottom: 20px;
  list-style-position: inside;
}

.info-about-us li::before {
  content: '';
  position: absolute;
  border: 2px solid #6c6c6c;
  left: -5px;
  width: 12px;
  height: 12px;
  margin: 5px auto;
  border-radius: 20px;
}

/*OUR TEAM*/
.our-team {
  height: 625px;
  padding-top: 100px;
}

.our-team h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  color: #fff;
  margin-bottom: 140px;
}

.our-team h2::before {
  content: '';
  position: absolute;
  background-color: #fcac45;
  bottom: -35px;
  left: 45%;
  width: 100px;
  height: 4px;
}

.our-team li {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 255px;
  height: 255px;
  margin-right: 50px;
}

.our-team li:last-child {
  margin-right: 0;
}

.our-team-img {
  position: absolute;
  background-color: #d7d7d7;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  left: 25%;
}

.our-team p {
  text-align: center;
  font-size: 16px;
}

.our-team .our-team-name {
  margin-top: 150px;
  font-size: 20px;
  text-align: center;
}

.our-team p:last-child {
  margin-top: 40px;
  font-size: 14px;
}

/*OUR SERVICES*/
.our-services {
  height: 635px;
  padding-top: 100px;
}

.our-services h2 {
  position: relative;
  color: #111;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 90px;
}

.our-services h2::before {
  content: '';
  position: absolute;
  background-color: #fcac45;
  bottom: -35px;
  left: 45%;
  width: 100px;
  height: 4px;
}

.our-services p {
  text-align: center;
  font-size: 16px;
  color: #6c6c6c;
}

.our-services h2 + p {
  margin-bottom: 100px;
}

.our-services li {
  position: relative;
  list-style: none;
  margin-right: 50px;
  display: inline-block;
  width: 255px;
  height: 255px;
}

.our-services li:last-child {
  margin-right: 0;
}

.our-services-img {
  position: absolute;
  border: 5px solid #fcac45;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  left: 25%;
}

.our-services-img .icon {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 57px;
  height: 65px;
  background-image: url('../img/spritesheet.png');
  background-repeat: no-repeat;
}

.monitor {
  background-position: -278px -12px;
}

.mobile {
  background-position: -192px -12px;
}

.photography {
  background-position: -108px -12px;
}

.horn {
  background-position: -16px -12px;
}

.our-services li p {
  font-size: 14px;
}

.our-services h3 {
  text-align: center;
  color: #111;
  margin-top: 155px;
  margin-bottom: 20px;
}

/*OUR CLIENTS*/
.our-clients {
  height: 415px;
  padding-top: 100px;
}

.our-clients h2{
  position: relative;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 145px;
}

.our-clients h2 span {
  font-weight: normal;
}

.our-clients h2::before {
  content: '';
  position: absolute;
  background-color: #fcac45;
  bottom: -35px;
  left: 45%;
  width: 100px;
  height: 4px;
}

.our-clients li {
  display: inline-block;
  list-style: none;
  font-size: 0;
}

.our-clients .icon-clients {
  width: 170px;
  height: 30px;
  background-image: url('../img/spritesheet_clients.png');
  background-repeat: no-repeat;
  margin-right: 25px;
}

.icon-clients:first-child {
  margin-left: 105px;
}

.icon-clients:last-child {
  margin-right: 0;
}

.chanel {
  background-position: -8px -192px;
}

.zara {
  background-position: -8px -50px;
}

.guerlain {
  background-position: -8px -146px;
}

.lancome {
  background-position: -8px -98px;
}

.lacoste {
  background-position: -8px -8px;
}

/*OUR WORK*/
.our-work {
  height: 1335px;
  padding-top: 100px;
}

.our-work h2 {
  position: relative;
  font-size: 44px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}

.our-work h2 span {
  font-weight: normal;
}

.our-work h2::before {
  content: '';
  position: absolute;
  background-color: #fcac45;
  bottom: -35px;
  left: 45%;
  width: 100px;
  height: 4px;
}

.our-work p {
  text-align: center;
  font-size: 16px;
  color: #6c6c6c;
}

.our-work h2 + p {
  margin-bottom: 100px;
}
